<div class="jumbotron">
  <h1>Привет, мир!</h1>

  <img src="http://taswar.zeytinsoft.com/wp-content/uploads/2014/05/jquery-logo.png" alt="">

  <img src="http://moduscreate.com/wp-content/uploads/2014/03/react-opti.png" alt="">

  <p>
    Этот курс посвящен тем, кто хочет узнать больше про компонентное программирование в Веб. Тут будут представлены теоретические и практические материалы по созданию jQuery-плагинов и введение в новый фреймворк ReactJS. 
  </p>
  <p>
    В разделе Теория можно найти подходящую теорию по созданию компонентов на ReactJS и jQuery, в разделе Практика посмотреть на работающие прототипы - результат вышеперечисленных теоретических сведений, а в разделе Тесты можно закрепить полученные сведения про данные фреймворки.
  </p>
  <p>
    <a class="btn btn-primary btn-lg" href="/theory" role="button">Узнать больше</a>
  </p>
</div>
