<div class="alert alert-info" role="alert">
  <h3>Тестовое задание</h3>
  <strong>Внимание!</strong>
  Не рекомендуется приступать к выполнению тестового задания без предварительного ознакомления с теоретическим материалом. Если вы еще не успели прочитать теорию по созданию компонентов, то посетите раздел <a href="/theory">Теория</a> на сайте.
</div>

<section class="tests">
  <div class="question question1">
    <span class="question-title">
      1. Что означает символ доллара ($) в jQuery-библиотеке?
    </span>
    <div class="form-group">
      <label>
        <input type="radio" name="qustion1" class="radio_1">
        <span>a) Денежный знак</span>
      </label>  
    </div>

    <div class="form-group">
      <label>
        <input type="radio" name="qustion1" class="radio_2">
        <span>b) Альтернативный вызов функции jQuery.</span>
      </label>  
    </div>

    <div class="form-group">
      <label>
        <input type="radio" name="qustion1" class="radio_3">
        <span>c) Автоматически создает плагины.</span>
      </label>  
    </div>
  </div>

  <div class="question question2">
    <span class="question-title">
      2. Зачем плагины оборачивать в анонимные функции и передавать туда как параметр jQuery?
    </span>
    <div class="form-group">
      <label>
        <input type="radio" name="qustion2" class="radio_1">
        <span>a) Просто так.</span>
      </label>  
    </div>

    <div class="form-group">
      <label>
        <input type="radio" name="qustion2" class="radio_2">
        <span>b) В качестве синтаксического сахара - так понятнее, где наш плагин.</span>
      </label>  
    </div>

    <div class="form-group">
      <label>
        <input type="radio" name="qustion2" class="radio_3">
        <span>c) Чтобы плагин не конфликтовал с другими библиотеками.</span>
      </label>  
    </div>
  </div>

  <div class="question question3">
    <span class="question-title">
      3. Что делает вызов функции $.extend(target [, object1][, object2][,...])?
    </span>
    <div class="form-group">
      <label>
        <input type="radio" name="qustion3" class="radio_1">
        <span>a) Расширяет заданный объект свойствами из переданных объектов. </span>
      </label>  
    </div>

    <div class="form-group">
      <label>
        <input type="radio" name="qustion3" class="radio_2">
        <span>b) Заменяет заданный объект свойствами из других объектов.</span>
      </label>  
    </div>

    <div class="form-group">
      <label>
        <input type="radio" name="qustion3" class="radio_3">
        <span>c) Трансформирует заданный объект.</span>
      </label>  
    </div>
  </div>

  <div class="question question4">
    <span class="question-title">
      4. Каким образом можно связывать некоторую функциональность плагина с событиями JavaScript?
    </span>
    <div class="form-group">
      <label>
        <input type="radio" name="qustion4" class="radio_1">
        <span>a) методом .bind() </span>
      </label>  
    </div>

    <div class="form-group">
      <label>
        <input type="radio" name="qustion4" class="radio_2">
        <span>b) методом .extend()</span>
      </label>  
    </div>

    <div class="form-group">
      <label>
        <input type="radio" name="qustion4" class="radio_3">
        <span>c) методом .bound()</span>
      </label>  
    </div>
  </div>

  <div class="question question5">
    <span class="question-title">
      5. Сколько пространств имен рекомендуется иметь для 1 плагина?
    </span>
    <div class="form-group">
      <label>
        <input type="radio" name="qustion5" class="radio_1">
        <span>a) 2. </span>
      </label>  
    </div>

    <div class="form-group">
      <label>
        <input type="radio" name="qustion5" class="radio_2">
        <span>b) 1.</span>
      </label>  
    </div>

    <div class="form-group">
      <label>
        <input type="radio" name="qustion5" class="radio_3">
        <span>c) Для каждого метода - свое.</span>
      </label>  
    </div>
  </div>

  <div class="question question6">
    <span class="question-title">
      6. Какая ключевая особенность ReactJS?
    </span>
    <div class="form-group">
      <label>
        <input type="radio" name="qustion6" class="radio_1">
        <span>a) Никакой, он просто представляет такой же two-way data-binding, только более оптимизированный. </span>
      </label>  
    </div>

    <div class="form-group">
      <label>
        <input type="radio" name="qustion6" class="radio_2">
        <span>b) Выносит груды javascript из html-документа и переносит html в javascript.</span>
      </label>  
    </div>

    <div class="form-group">
      <label>
        <input type="radio" name="qustion6" class="radio_3">
        <span>c) Позволяет оптимально разбивать Ваш код на компоненты, что повышает читаемость и возможность повторного использования.</span>
      </label>  
    </div>
  </div>

  <div class="question question7">
    <span class="question-title">
      7. Что такое JSX?
    </span>
    <div class="form-group">
      <label>
        <input type="radio" name="qustion7" class="radio_1">
        <span>a) Это техника создания элементов и компонентов на React. </span>
      </label>  
    </div>

    <div class="form-group">
      <label>
        <input type="radio" name="qustion7" class="radio_2">
        <span>b) Методы компонентов.</span>
      </label>  
    </div>

    <div class="form-group">
      <label>
        <input type="radio" name="qustion7" class="radio_3">
        <span>c) Структура написания компонентов.</span>
      </label>  
    </div>
  </div>

  <div class="question question8">
    <span class="question-title">
      8. Что такое VirtualDOM?
    </span>
    <div class="form-group">
      <label>
        <input type="radio" name="qustion8" class="radio_1">
        <span>a) Невидимый дом. </span>
      </label>  
    </div>

    <div class="form-group">
      <label>
        <input type="radio" name="qustion8" class="radio_2">
        <span>b) Дерево React элементов на JavaScript.</span>
      </label>  
    </div>

    <div class="form-group">
      <label>
        <input type="radio" name="qustion8" class="radio_3">
        <span>c) Специальная структура для компонентов в коде React.</span>
      </label>  
    </div>
  </div>

  <div class="question question9">
    <span class="question-title">
      9. Что такое свойства компонентов?
    </span>
    <div class="form-group">
      <label>
        <input type="radio" name="qustion9" class="radio_1">
        <span>a) Опции компонента. </span>
      </label>  
    </div>

    <div class="form-group">
      <label>
        <input type="radio" name="qustion9" class="radio_2">
        <span>b) Возможность компонента взаимодействовать с другими компонентами.</span>
      </label>  
    </div>

    <div class="form-group">
      <label>
        <input type="radio" name="qustion9" class="radio_3">
        <span>c) То же что и состояния.</span>
      </label>  
    </div>
  </div>

  <div class="question question10">
    <span class="question-title">
      10. Что такое состояние?
    </span>
    <div class="form-group">
      <label>
        <input type="radio" name="qustion10" class="radio_1">
        <span>a) Специальный объект внутри компонента, который хранит свойства. </span>
      </label>  
    </div>

    <div class="form-group">
      <label>
        <input type="radio" name="qustion10" class="radio_2">
        <span>b) Специальный объект внутри компонента, который хранит данные, которые могут изменятся с течением времени.</span>
      </label>  
    </div>

    <div class="form-group">
      <label>
        <input type="radio" name="qustion10" class="radio_3">
        <span>c) Специальный объект внутри компонента, который хранит данные, которые не могут изменятся с течением времени.</span>
      </label>  
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-primary btn-lg js-check">Проверить</button>
  </div>
</section>

<section class="results">
  <div class="alert alert-success" role="alert">
    <b>Внимание!</b>
    Ваш результат: <span id="user_results"></span>
    <p>
      <button class="btn btn-lg btn-success js-again">Пройти тест еще раз</button>
    </p>
  </div>
</section>

<script src="/vendor/scripts/test.js"></script>
